{% extends "layout.html" %}
{% block body %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/booking.png') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Bookings</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" align="center">
        <h3>Here you go, These are your booking details: </h3>
        <br>
          <table border="2" align="center" style="width: 100%">
            <tr>  
            <th>Depart On</th>
            <th>From</th>  
            <th>To</th>
            <!-- <th>Seat_No</th>   -->
            <!-- <th>Time</th>   -->
            </tr>
            {% for user in userDetails %}
              <tr>
                <td> {{user[3]}} </td>
                <td> {{user[4]}} </td>
                <td> {{user[5]}} </td>
                
                <!-- <td> {{user[6]}} </td>
                <td> {{user[7]}} </td> -->
              </tr>
            {% endfor %}
          </table>
      </div>
    </div>
  </div>
  

{% endblock %}